<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Language" content="en">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="description" content="Gitsu: User management and pairing for Git" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gitsu: User management and pairing for Git{% if page.title != 'About' %} :: {{ page.title }}{% endif %}</title>

        <link rel="stylesheet" href="/gitsu/stylesheets/styles.css">
        <link rel="stylesheet" href="/gitsu/stylesheets/pygment_trac.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link href="/gitsu/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
        <style>
            body {
                padding-top: 60px;
            }

            /* Don't wrap code blocks */
            pre {
                word-break: keep-all;
            }
            pre code {
                white-space: pre;
                overflow: auto;
            }
        </style>
        <link href="/gitsu/lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

        <script src="/gitsu/lib/jquery-1.8.3.js"></script>
        <script src="/gitsu/lib/bootstrap/js/bootstrap.js"></script>
        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top hidden-desktop">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/gitsu/">Gitsu</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li {% if page.url == '/index.html' %}class="active"{% endif %}><a href="/gitsu/">About</a></li>
                            <li {% if page.url == '/getting-started/index.html' %}class="active"{% endif %}><a href="/gitsu/getting-started/">Getting Started</a></li>
                            <li {% if page.url == '/usage/index.html' %}class="active"{% endif %}><a href="/gitsu/usage/">Usage</a></li>
                            <li {% if page.url == '/pairing/index.html' %}class="active"{% endif %}><a href="/gitsu/pairing/">Pairing</a></li>
                            <li {% if page.url == '/cli/index.html' %}class="active"{% endif %}><a href="/gitsu/cli/">Command Line Reference</a></li>
                            <li {% if page.url == '/configuration/index.html' %}class="active"{% endif %}><a href="/gitsu/configuration/">Configuration</a></li>
                            <li {% if page.url == '/acknowledgement/index.html' %}class="active"{% endif %}><a href="/gitsu/acknowledgements/">Acknowledgements</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <header class="visible-desktop" >
                <h1>Gitsu</h1>
                <p>User management and pairing for Git</p>

                <p class="view"><a href="https://github.com/drrb/gitsu">View the Project on GitHub <small>drrb/gitsu</small></a></p>
                <iframe src="http://ghbtns.com/github-btn.html?user=drrb&repo=gitsu&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

                <ul class="nav">
                    <li><a href="/gitsu/">About</a></p></li>
                    <li><a href="/gitsu/getting-started/">Getting Started</a></p></li>
                    <li><a href="/gitsu/usage/">Usage</a></p></li>
                    <li><a href="/gitsu/pairing/">Pairing</a></p></li>
                    <li><a href="/gitsu/cli/">Command Line Reference</a></p></li>
                    <li><a href="/gitsu/configuration/">Configuration</a></p></li>
                    <li><a href="/gitsu/acknowledgements/">Acknowledgements</a></p></li>
                </ul>
            </header>
            <section>
                {{ content }}
            </section>
            <footer>
                <p>
                    <a href="https://travis-ci.org/drrb/gitsu"><img src="https://travis-ci.org/drrb/gitsu.png?branch=master" alt="Build Status" /></a>
                    <a href="https://coveralls.io/r/drrb/gitsu"><img src="https://coveralls.io/repos/drrb/gitsu/badge.png?branch=master" alt="Coverage Status" /></a>
                    <a href="https://codeclimate.com/github/drrb/gitsu"><img src="https://codeclimate.com/github/drrb/gitsu.png" alt="Code Climate" /></a>
                </p>
                <p>
                    This project is maintained by <a href="https://github.com/drrb">drrb</a>
                </p>
                <p>
                    <small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small>
                </p>
            </footer>
        </div>
        <script src="/gitsu/javascripts/scale.fix.js"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
               (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-5074906-7', 'drrb.github.io');
            ga('send', 'pageview');
        </script>
    </body>
</html>
