<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Gitsu by drrb</title>

    <link rel="stylesheet" href="/gitsu/stylesheets/styles.css">
    <link rel="stylesheet" href="/gitsu/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Gitsu</h1>
        <p>Organise your Git users</p>

        <p class="view"><a href="https://github.com/drrb/gitsu">View the Project on GitHub <small>drrb/gitsu</small></a></p>

        <ul>
          <li><a href="https://github.com/drrb/gitsu/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/drrb/gitsu/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/drrb/gitsu">View On <strong>GitHub</strong></a></li>
        </ul>

        <p class="view"><a href="/gitsu/">Home</a></p>
        <p class="view"><a href="/gitsu/getting-started/">Getting Started</a></p>
        <p class="view"><a href="/gitsu/usage/">Usage</a></p>
        <p class="view"><a href="/gitsu/configuration/">Configuration</a></p>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>
            <a href="https://travis-ci.org/drrb/gitsu"><img src="https://travis-ci.org/drrb/gitsu.png?branch=master" alt="Build Status" /></a>
            <a href="https://coveralls.io/r/drrb/gitsu"><img src="https://coveralls.io/repos/drrb/gitsu/badge.png?branch=master" alt="Coverage Status" /></a>
            <a href="https://codeclimate.com/github/drrb/gitsu"><img src="https://codeclimate.com/github/drrb/gitsu.png" alt="Code Climate" /></a>
        </p>
        <p>This project is maintained by <a href="https://github.com/drrb">drrb</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="/gitsu/javascripts/scale.fix.js"></script>
    <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-5074906-7");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
