<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gitsu: Manage your Git users :: {{ page.title }}</title>

        <link rel="stylesheet" href="/gitsu/stylesheets/styles.css">
        <link rel="stylesheet" href="/gitsu/stylesheets/pygment_trac.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link href="/gitsu/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
        <style>
            body {
                padding-top: 60px;
            }
        </style>
        <link href="/gitsu/lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

        <script src="/gitsu/lib/jquery-1.8.3.js"></script>
        <script src="/gitsu/lib/bootstrap/js/bootstrap.js"></script>
        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top hidden-desktop">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/gitsu/">Gitsu</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li {% if page.url == '/index.html' %}class="active"{% endif %}><a href="/gitsu/">About</a></li>
                            <li {% if page.url == '/getting-started/index.html' %}class="active"{% endif %}><a href="/gitsu/getting-started/">Getting Started</a></li>
                            <li {% if page.url == '/usage/index.html' %}class="active"{% endif %}><a href="/gitsu/usage/">Usage</a></li>
                            <li {% if page.url == '/pairing/index.html' %}class="active"{% endif %}><a href="/gitsu/pairing/">Pairing</a></li>
                            <li {% if page.url == '/cli/index.html' %}class="active"{% endif %}><a href="/gitsu/cli/">Command Line Reference</a></li>
                            <li {% if page.url == '/configuration/index.html' %}class="active"{% endif %}><a href="/gitsu/configuration/">Configuration</a></li>
                            <li {% if page.url == '/acknowledgement/index.html' %}class="active"{% endif %}><a href="/gitsu/acknowledgements/">Acknowledgements</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <header class="visible-desktop" >
                <h1>Gitsu</h1>
                <p>Manage your Git users</p>

                <p class="view"><a href="https://github.com/drrb/gitsu">View the Project on GitHub <small>drrb/gitsu</small></a></p>

                <ul class="buttons">
                    <li>
                        <a href="https://github.com/drrb/gitsu/zipball/master">Download <strong>ZIP File</strong></a>
                    </li>
                    <li>
                        <a href="https://github.com/drrb/gitsu/tarball/master">Download <strong>TAR Ball</strong></a>
                    </li>
                    <li>
                        <a href="https://github.com/drrb/gitsu">View On <strong>GitHub</strong></a>
                    </li>
                </ul>

                <ul class="nav">
                    <li><a href="/gitsu/">About</a></p></li>
                    <li><a href="/gitsu/getting-started/">Getting Started</a></p></li>
                    <li><a href="/gitsu/usage/">Usage</a></p></li>
                    <li><a href="/gitsu/pairing/">Pairing</a></p></li>
                    <li><a href="/gitsu/cli/">Command Line Reference</a></p></li>
                    <li><a href="/gitsu/configuration/">Configuration</a></p></li>
                    <li><a href="/gitsu/acknowledgements/">Acknowledgements</a></p></li>
                </ul>
            </header>
            <section>
                {{ content }}
            </section>
            <footer>
                <p>
                    <a href="https://travis-ci.org/drrb/gitsu"><img src="https://travis-ci.org/drrb/gitsu.png?branch=master" alt="Build Status" /></a>
                    <a href="https://coveralls.io/r/drrb/gitsu"><img src="https://coveralls.io/repos/drrb/gitsu/badge.png?branch=master" alt="Coverage Status" /></a>
                    <a href="https://codeclimate.com/github/drrb/gitsu"><img src="https://codeclimate.com/github/drrb/gitsu.png" alt="Code Climate" /></a>
                </p>
                <p>
                    This project is maintained by <a href="https://github.com/drrb">drrb</a>
                </p>
                <p>
                    <small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small>
                </p>
            </footer>
        </div>
        <script src="/gitsu/javascripts/scale.fix.js"></script>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-5074906-7");
                pageTracker._trackPageview();
            } catch(err) {}
        </script>
    </body>
</html>
